<h2>My Login Form</h2>
<form action="">
    <div>
        <label for="">Username: </label>
        <input type="text" name="" id="" placeholder="Username">
        </div><br>
    <div>
        <label for="">Password: </label>
        <input type="password" name="" id="" placeholder="Password">
        </div>
    <button>Submit</button>
</form>